# local package
-e .

# external requirements
pyyaml
html5lib
beautifulsoup4
pandas
numpy
pymongo
tqdm # for progressbar for progress_apply
node2vec
gensim
networkx
google-auth
google-cloud-bigquery


# test requirements
flake8
pytest
pytest-mongodb
