# local package
-e .

# external requirements
pyyaml
html5lib
beautifulsoup4
pandas
numpy==1.20.3 # limited by fastnode2vec
pymongo
pyarrow
tqdm
fastnode2vec
gensim==3.8.3 # move to 4 when fastnode2vec supports it
google-cloud-core
google-auth
google-cloud-bigquery

# test requirements
flake8
pytest
pytest-mongodb

pre-commit~=2.14.0
detect-secrets==1.0.3
